@model RezervasyonMvc.Model.Models.Musteri
@{
    var Title = "Müşteri Oluştur";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @if (Model.Id != 0)
        {
            Title = "Müşteri Düzenle";

        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@Title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MusteriAdi">Adı :</label>
                </div>
                <div class="col-8">
                    <input asp-for="MusteriAdi" class="form-control" />
                    <span asp-validation-for="MusteriAdi" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="MusteriSoyadi">Soyadı :</label>
                </div>
                <div class="col-8">
                    <input asp-for="MusteriSoyadi" class="form-control" />
                    <span asp-validation-for="MusteriSoyadi" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="TcNo"> Tc No :</label>
                </div>
                <div class="col-8">
                    <input asp-for="TcNo" class="form-control" />
                    <span asp-validation-for="TcNo" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Adresi">Adres :</label>
                </div>
                <div class="col-8">
                    <input asp-for="Adresi" class="form-control" />
                    <span asp-validation-for="Adresi" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DogumTarihi">Doğum Tarihi</label>
                </div>
                <div class="col-8">
                    <input asp-for="DogumTarihi"  class="form-control" type="text" itemid="DogumTarihi" />
                    <span asp-validation-for="DogumTarihi" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary form-control">Muşteri Güncelle</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control">Müşteri Oluştur</button>
                    }
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Listeye Geri Dön</a>
                </div>
            </div>
        </div>
    </div>

</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {

            //tarih nesnesinin oluşturulması
            $("#DogumTarihi").datepicker({
                dateFormat: "dd-mm-yy",
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
                firstDay: 1
            });
        });

    </script>

}




