@model RezervasyonMvc.Model.Models.Oda
@{
    var Title = "Oda Oluştur";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @if (Model.Id != 0)
        {
            Title = "Oda Düzenle";

        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@Title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OdaNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OdaNo" class="form-control" />
                    <span asp-validation-for="OdaNo" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="OdaKapasite"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OdaKapasite" class="form-control" />
                    <span asp-validation-for="OdaKapasite" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="YatakSayısı"></label>
                </div>
                <div class="col-8">
                    <input asp-for="YatakSayısı" class="form-control" />
                    <span asp-validation-for="YatakSayısı" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="OdaFiyat"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OdaFiyat" class="form-control"/>
                    <span asp-validation-for="OdaFiyat" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary form-control">Oda Güncelle</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control">Oda Oluştur</button>
                    }
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Listeye Geri Dön</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

